NameVirtualHost *:90

<VirtualHost *:90>
     ServerAdmin webmaster@localhost
        DocumentRoot /var/www/hello/nodejs-hello-world
        PassengerAppRoot  /var/www/hello/nodejs-hello-world

         PassengerAppType node
         PassengerStartupFile index.js
</VirtualHost>
NameVirtualHost *:91

<VirtualHost *:91>
     ServerAdmin webmaster@localhost
        DocumentRoot /var/www/hello/nodejs-hello-world
        PassengerAppRoot  /var/www/hello/nodejs-hello-world

         PassengerAppType node
         PassengerStartupFile index.js
</VirtualHost>
NameVirtualHost *:92

<VirtualHost *:92>
     ServerAdmin webmaster@localhost
        DocumentRoot /var/www/hello/nodejs-hello-world
        PassengerAppRoot  /var/www/hello/nodejs-hello-world

         PassengerAppType node
         PassengerStartupFile index.js
</VirtualHost>

